body {
  overflow: hidden;
  position: fixed;
}

#controller {}

#player {
  #description {
    padding: 50px;
    font-size: 32pt;
    text-align: center;
    vertical-align: middle;
    line-height: normal;

    &.locked {
      opacity: 0.5;
    }
  }
}